extends layout

block content
  if !id
    script(src='/javascripts/editImage.js' defer='true')
    h1=title
    form(action='' enctype='multipart/form-data' method='POST')
      ul
        div Fields marked with * are required
        li
          label(for='commonName') *Common Name:
            input(
              id='commonName' 
              minLength='2'
              name='commonName' 
              required
              type='text' 
              value=animal && animal.commonName || ''
            )
            div.error=errors && errors.commonName ? errors.commonName.msg : ''
        li
          label(for='speciesName') *Species Name:
            input(
              id='speciesName' 
              minLength='5'
              name='speciesName' 
              required
              type='text' 
              value=animal && animal.speciesName || ''
            )
            div.error=errors && errors.speciesName ? errors.speciesName.msg : ''
        li
          label(for='description') Description:
            textarea(
              id='description'
              name='description'
            )=animal && animal.description || ''
            div.error=errors && errors.description ? errors.description.msg : ''
        li
          label(for='category') *Category:
            if categories.length
              select(
                id='category'
                name='category'
                required
              )
                option(
                  value=''
                )='SELECT ONE'
                each categoryOption in categories
                  //- break apart the conditional for brevity
                  - if (animal) {
                    //- using var since const would be block scoped
                    - var categoryString = categoryOption._id.toString();
                    //- might have an invalid mongodb _id
                    - if (animal.category) {
                      - var animalString = animal.category.toString();
                    - } else {
                      - var animalString = undefined;
                    - }
                  - }
                  if animal && animalString === categoryString
                    option(
                      selected=true
                      value=categoryOption._id
                    )=categoryOption.name
                  else
                    option(
                      value=categoryOption._id
                    )=categoryOption.name
            else
              div No categories found. Please
              a(href='/categories/new') create a new category
            div.error=errors && errors.category ? errors.category.msg : ''
        li
          label(for='price') *Price Per Individual:
            input(
              id='price'
              min='0'
              name='price'
              required
              step='0.01'
              type='number'
              value=animal && animal.price || 0
            )
            div.error=errors && errors.price ? errors.price.msg : ''
        li
          label(for='numberInStock') *Number In Stock:
            input(
              id='numberInStock'
              min='0'
              name='numberInStock'
              required
              step='1'
              type='number'
              value=animal && animal.numberInStock || 0
              )
            //- break apart the ternary for brevity
            - if (errors) {
              //- using var since const would be block scoped
              - var stockError = errors.numberInStock
            - }
            div.error=errors && stockError ? stockError.msg : ''
        li
          //- tells the server if user changed the image - frontend script
          //- changes value to '1' if user has clicked to delete or change image
          input(class='changed' name='imageChanged' type='hidden' value='0')
          div Current Image:
          if animal && animal.image
            div.filename=animal.image
            img.preview(alt=animal.commonName src=`/images/${animal.image}`)
          else
            div.filename None
            img.preview(alt='No image' src='/images/no-image.svg')
          div
            label.edit-image-label(
              for=editing ? 'image-editing' : 'image'
            ) New Image:
              input.edit-image(
                accept='image/png, image/jpeg, image/gif'
                id=editing ? 'image-editing' : 'image'
                name=editing ? 'image-editing' : 'image'
                type='file'
              )
          button(
            class=animal && animal.image ? 'delete-image' : 'delete-image hidden' 
            type='button'
          ) Delete image
        li
          div.error=errors && errors.id ? errors.id.msg : ''
          button(type='submit') Submit
  else
    h1 No Animal Found
    div No animal with id #{id}
