extends layout

block content
  if !id
    h2=`Delete ${animal.commonName}`
      div=`(${animal.speciesName})`
      p Are you sure? Enter admin password to confirm.
    form(method='POST' action='')
      label(for='password') Password Required:
        input(
          type='password'
          required
          name='password'
        )
      input(
        type='hidden'
        name='id'
        required='true'
        value=animal._id
      )
      div=errors && errors.password ? errors.password.msg : ''
      button(type='submit')=`Delete ${animal.speciesName}`
  else
    h2 Animal Not Found
    div No animal found with id #{id}
