extends layout

block content
  if animal
    h2=animal.commonName
    if alreadyExists
      h3.error Species already in database
    ul
      li
        i=animal.speciesName
      if animal.image
        li
          img.animal-image(alt=animal.commonName src=`/images/${animal.image}`)
      li
        a(href=animal.category.url)=animal.category.name
      if animal.description
        li=animal.description
      li.mono=`${animal.numberInStock.toLocaleString()} in stock`
      li.mono=`${formatPrice(animal.price)} each`
      li.mono=`${formatPrice(animal.numberInStock * animal.price)} total`
      li
        a(href=`/animals/${animal._id}/edit`) Edit
      li
        a(href=`/animals/${animal._id}/delete`) Delete
  if !animal
    h2 Animal Not Found
    ul
      li No animal found with requested id #{id}
