extends layout

block content
  if animal
    h1=animal.commonName
    ul
      li=animal.speciesName
      li
        a(href=animal.category.url)=animal.category.name
      li=animal.description
      li=`${animal.numberInStock.toLocaleString()} in stock`
      li=`${formatPrice(animal.price)} each`
      li=`${formatPrice(animal.numberInStock * animal.price)} total`
      li
        a(href=`/animals/${animal._id}/edit`) Edit
      li
        a(href=`/animals/${animal._id}/delete`) Delete
  if !animal
    h1 Animal Not Found
    ul
      li No animal found with requested id #{id}
