extends layout

block content
  if !id
    script(src='/javascripts/editImage.js' defer='true')
    script(src='/javascripts/validateAnimalForm.js' defer='true')
    h2=title
    form(action='' enctype='multipart/form-data' method='POST')
      ul
        div Fields marked with * are required
        li
          label(for='commonName') *Common Name:
            input(
              id='commonName' 
              minLength='2'
              name='commonName' 
              required
              type='text' 
              value=animal && animal.commonName || ''
            )
            div#commonNameError(
              class=errors && errors.commonName ? 'error' : 'error hidden'
            )=errors && errors.commonName ? errors.commonName.msg : 'error'
        li
          label(for='speciesName') *Species Name:
            input(
              id='speciesName' 
              minLength='5'
              name='speciesName' 
              required
              type='text' 
              value=animal && animal.speciesName || ''
            )
            div#speciesNameError(
              class=errors && errors.speciesName ? 'error' : 'error hidden'
            )=errors && errors.speciesName ? errors.speciesName.msg : 'error'
        li
          label(for='description') Description:
            textarea(
              rows='4'
              id='description'
              name='description'
            )=animal && animal.description || ''
            div#descriptionError(
              class=errors && errors.description ? 'error' : 'error hidden'
            )=errors && errors.description ? errors.description.msg : 'error'
        li
          label(for='category') *Category:
            if categories.length
              select(
                id='category'
                name='category'
                required
              )
                option(
                  value=''
                )='SELECT ONE'
                each categoryOption in categories
                  //- break apart the conditional for brevity
                  - if (animal) {
                    //- using var since const would be block scoped
                    - var categoryString = categoryOption._id.toString();
                    //- might have an invalid mongodb _id
                    - if (animal.category) {
                      - var animalString = animal.category.toString();
                    - } else {
                      - var animalString = undefined;
                    - }
                  - }
                  if animal && animalString === categoryString
                    option(
                      selected=true
                      value=categoryOption._id
                    )=categoryOption.name
                  else
                    option(
                      value=categoryOption._id
                    )=categoryOption.name
            else
              div No categories found. Please
              a(href='/categories/new') create a new category
            div#categoryError(
              class=errors && errors.category ? 'error' : 'error hidden'
            )=errors && errors.category ? errors.category.msg : 'error'
        li
          label(for='price') *Price Per Individual:
            input(
              id='price'
              min='0'
              name='price'
              required
              step='0.01'
              type='number'
              value=animal && animal.price || 0
            )
            div#priceError(
              class=errors && errors.price ? 'error' : 'error hidden'
            )=errors && errors.price ? errors.price.msg : 'error'
        li
          label(for='numberInStock') *Number In Stock:
            input(
              id='numberInStock'
              min='0'
              name='numberInStock'
              required
              step='1'
              type='number'
              value=animal && animal.numberInStock || 0
              )
            //- break apart the ternary for brevity
            - if (errors) {
              //- using var since const would be block scoped
              - var stockError = errors.numberInStock
            - }
            div#numberInStockError(
              class=errors && stockError ? 'error' : 'error hidden'
            )=errors && stockError ? stockError.msg : 'error'
        li
          //- tells the server if user changed the image - frontend script
          //- changes value to '1' if user has clicked to delete or change image
          input#changed(
            class='changed' name='imageChanged' type='hidden' value='0'
          )
          div Current Image:
          if animal && animal.image
            div.filename=animal.image
            img.preview(alt=animal.commonName src=`/images/${animal.image}`)
          else
            div.filename None
            img.preview(alt='No image' src='/icons/no-image.svg')
          div#imageError(
            class=errors && imageError ? 'error' : 'error hidden'
          )=errors && imageError ? imageError.msg : 'error'
          label.edit-image-label(
            for=editing ? 'image-editing' : 'image' tabindex='0'
          ) Upload Image
            input.edit-image(
              accept='image/png, image/jpeg, image/gif'
              id=editing ? 'image-editing' : 'image'
              name=editing ? 'image-editing' : 'image'
              type='file'
            )
          button(
            class=animal 
              && animal.image ? 'delete-image' : 'delete-image hidden' 
            type='button'
          ) Delete image
        if editing
          li
            label(for='password') *Admin password 
              input(
                id='password'
                name='password'
                required
                type='password'
              )
              div#passwordError(
                class=errors && errors.password ? 'error' : 'error hidden'
              )=errors && errors.password ? errors.password.msg : ''
        li
          div#idError(
            class=errors && errors.id ? 'error' : 'error hidden'
          )=errors && errors.id ? errors.id.msg : 'error'
          button#submit(
            disabled='true'
            type='submit'
          ) Submit
  else
    h2 No Animal Found
    div No animal with id #{id}
