extends layout

block content
  h2=title
  ul
    each animal in animals
      li
        a(href=animal.url)=animal.commonName
    else
      li='no animals found'
    li.mono=`${getTotalAnimals(animals).toLocaleString()} in stock`
    li.mono=`${formatPrice(getTotalValue(animals))} total`
