extends layout

block content
  if !id 
    h2=title
    form(action='' method='POST')
      ul
        div Fields marked with * are required
        li
          label(for='name') *Name:
            input(
              id='name'
              minLength='2'
              name='name'
              required
              type='text'
              value=category ? category.name : ''
            )
            div.error=errors && errors.name ? errors.name.msg : ''
        li
          label(for='description') Description:
            textarea(
              id='description'
              name='description'
              rows='4'
            )=category ? category.description : ''
            div.error=errors && errors.description ? errors.description.msg : ''
        if editing
          li
            label(for='password') *Admin password 
              input(
                id='password'
                name='password'
                type='password'
              )
              div.error=errors && errors.password ? errors.password.msg : ''
        li
          div.error=errors && errors.id ? errors.id.msg : ''
          button(type='submit') Submit
  else
    h2 No Category Found
    div No category with requested id #{id}
