extends layout

block content
  if category
    h1=category.name
    div=category.description
    ul
      li
        a(href=`/categories/${category._id}/edit`) Edit
      li
        a(href=`/categories/${category._id}/delete`) Delete 
    figure
      figcaption Animals 
      ul
        each animal in animals
          li
            a(href=animal.url)=animal.commonName
        else
          li='No animals in stock'
  else
    h1 No Category Found
    ul
      li No category with requested id #{id}
