extends layout

block content
  if !id
    h1=`Delete "${category.name}" Category`
    if animals.length
      p Delete the following animals before attempting to delete this category:
      ul
        each animal in animals
          li
            a(href=animal.url)=animal.commonName
    else
      p Are you sure? Enter admin password to confirm.
      form(method='POST' action='')
        label(for='password') Password Required:
          input(
            id='password'
            name='password'
            required
            type='password'
          )
        input(
          type='hidden'
          name='id'
          required='true'
          value=category._id
        )
        div=errors && errors.password ? errors.password.msg : ''
        button(type='submit')=`Delete ${category.name}`
  else
    h1 Category Not Found
    div No category found with id #{id}
