extends layout

block content
  p= description
  h2 Inventory Management
  ul
  if categoryCount
    li.mono=`${categoryCount} categories`
    if speciesCount
      li.mono=`${speciesCount} species`
    if animalCount
      li.mono=`${animalCount.toLocaleString()} animals`
      li.mono=`${totalValue} total`
