nav
  ul
    li
      a(href='/')='Home'
    li
      a(href='/animals')='Animals'
    li
      a(href='/categories')='Categories'
  ul
    li
      a(href='/animals/new')='New Animal'
    li
      a(href='/categories/new')='New Category'
